rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /poster_uploads/{allPaths=**} {
      allow read: if true;
      allow create: if request.auth != null
                    && request.resource.contentType == 'image/jpeg';
      allow delete: if request.auth != null;
      allow update: if false;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}